<div data-ng-controller="BCT.Themes.TestTheme.SettingsController" data-ng-cloak="">
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="cs1">Custom Setting 1</label>
                    <div class="controls">
                        <input type="text" id="cs1" data-ng-model="model.value.settings.customSetting1" class="umb-editor"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="cs2">Custom Setting 2</label>
                    <div class="controls">
                        <input type="text" id="cs2" data-ng-model="model.value.settings.customSetting2" class="umb-editor"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="cs3">Custom Setting 3</label>
                    <div class="controls">
                        <input type="text" id="cs3" data-ng-model="model.value.settings.customSetting3" class="umb-editor"/>
                    </div>
                </div>
            </div>
        </div>
</div>