<div data-ng-controller="BCT.LayoutPicker.DialogController" class="layoutPicker umb-panel with-footer" data-ng-cloak>
	<div class="umb-panel-header">
		<div class="umb-el-wrap umb-panel-buttons">
			        <div class="form-search">
	                    <i class="icon-search"></i>
	                    <input type="text" 
	                           ng-model="search" 
	                           class="umb-search-field search-query" 
	                           placeholder="Filter Layouts...">
	                </div>
	    </div>
    </div>
    <div class=" umb-panel-body with-footer">
        <div data-ng-repeat="layout in layouts | filter:search" class="layout" data-ng-cloak data-ng-class="{selected: selectedLayout == layout}">
            <a href data-ng-click="selectLayout(layout)" data-ng-dblclick="submit(layout)" class="image">
                <img src="#" data-ng-src="{{layout.image}}" alt="{{layout.name}}" />
                <div class="details">
                    <div class="heading">{{layout.name}}</div>
                    <div class="description">{{layout.description}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="umb-panel-footer">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href class="btn btn-link" data-ng-click="close()">
                    <localize key="cancel" />
                </a>
                <a href class="btn btn-primary" data-ng-click="submit(selectedLayout)">
                    <localize key="buttons_select"/>
                </a>
            </div>
    </div>
</div>