<div data-ng-controller="BCT.LayoutPicker.EditorController" class="umb-contentpicker" data-ng-cloak>
    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <label class="control-label layoutPicker" for="{{model.alias}}">
                {{model.label}}
                <small>{{model.description}}</small>
            </label>

            <div class="layoutPicker controls controls-row" data-ng-show="model.value != ''">

                <img src="#" data-ng-src="{{layout.image}}" alt="{{layout.name}}" /> 
                <div class="details">
                    <div class="heading">{{layout.name}}</div>
                    <div class="description">{{layout.description}}</div>
                    <div class="buttons">
                        <a href="#" data-prevent-default data-ng-click="openLayoutPicker()" title="Switch Layout"><i class="icon icon-repeat green"></i>Switch Layout</a>                
                        <a href="#" data-prevent-default data-ng-click="clearLayout()" title="Clear Layout"><i class="icon icon-delete red"></i>Clear Layout</a>
                    </div>
                </div>
            </div>
            <div class="layoutPicker controls controls-row" data-ng-show="model.value == ''">
                <div class="buttons">
	                <a href="#" data-ng-click="openLayoutPicker()" data-prevent-default><i class="icon icon-add blue"></i>Choose Layout</a>
                </div>
            </div>
        </div>
    </div>
</div>