﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@section body {
	<nav role="complementary">
		<div class="col-m-3">
			Navigation
		</div>
	</nav>
		
	<article>
		<div class="col-m-6">
			@RenderSection("body")
		</div>
	</article>
			
	<aside>
		<div class="col-m-3">
			Sidebar
			
		</div>						
	</aside>
}