﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    Macro to display child pages below the root page of a standard website.
    Also highlights the current active page/section in the navigation with
    the css class "current".
*@

@{
    @* Get the root of the website *@
    var root = Model.Content.AncestorsOrSelf("Website").Last();
}

<button data-dropdown-target="#navigation" class="visible-xs"><span class="visuallyhidden">Toggle Navigation</span></button>
<div id="navigation" class="expand">
    @foreach (var page in root.Children().Where(x => x.IsVisible()))
    {
        <a class="@(page.AncestorsOrSelf().Contains(Model.Content) ? "current" : null)" href="@page.Url">@page.Name</a>
    }
</div>