﻿<div data-ng-controller="BCT.DuplicateNameController">
    <input type="text" name="textbox" 
           data-ng-model="model.value" id="{{model.alias}}"
           class="umb-editor umb-textstring textstring"
           data-val-server="value"
           data-ng-required="model.validation.mandatory" />

    <span class="help-inline" data-val-msg-for="textbox" data-val-toggle-msg="required">Required</span>
    <span class="help-inline" data-val-msg-for="textbox" data-val-toggle-msg="valServer"></span>
</div>