<div data-ng-controller="BCT.ThemePicker.DialogController" class="themePicker umb-panel with-footer" data-ng-cloak>
	<div class="umb-panel-header">
		<div class="umb-el-wrap umb-panel-buttons">
			        <div class="form-search">
	                    <i class="icon-search"></i>
	                    <input type="text" 
	                           ng-model="search" 
	                           class="umb-search-field search-query" 
	                           placeholder="Filter Themes...">
	                </div>
	    </div>
    </div>
    <div class=" umb-panel-body with-footer">
        <div data-ng-repeat="theme in themes | filter:search" class="theme" data-ng-class="{selected: selectedTheme.path == theme.path}">
            <a href data-ng-click="selectTheme(theme)" data-ng-dblclick="submit(theme)" class="image">
                <img src="#" data-ng-src="{{theme.image}}" alt="{{theme.name}}"/> 
                <div class="details">
                    <div class="heading">{{theme.name}}</div>
                    <div class="description">{{theme.description}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="umb-panel-footer">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href class="btn btn-link" data-ng-click="close()">
                    <localize key="cancel" />
                </a>
                <a href class="btn btn-primary" data-ng-click="submit(selectedTheme)">
                    <localize key="buttons_select"/>
                </a>
            </div>
    </div>
</div>