.themePicker {
    overflow: hidden;
    padding-left: 0 !important;
}
.themePicker h3 {
    width: 80%;
    float: left;
}
.themePicker .refresh {
    float: right;
    display: block;
    padding: 2%;
}
.themePicker .theme {
    border-bottom: 1px dotted #eee;
    padding: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}
.themePicker img {
    display: block;
    width: 100px;
    margin: 0 10px 10px 0;
    padding: 1px;
    border: 1px solid #eee;
    float: left;
}
.themePicker a.image {
    text-decoration: none;
}
.themePicker a.image:hover img {
    border: 1px solid #999;    
}

.themePicker .details .heading {
    font-size: 18px;
    font-weight: bold;
}
.themePicker .selected {
    background: #e5e5e5;
}
.themePicker .buttons {
    float: left;
}
.themePicker .buttons a {
    margin-right: 10px;
}
.themePicker .buttons a i {
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}
.themePicker .buttons a i.green {
    color:  #53a93f;
}