.umb-panel-header .umb-headline {
    margin-top: 35px !important;
    border-bottom: 1px dotted #eee;
    font-size: 18px;
    font-weight: bold;
}
.umb-control-group {
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
}
.umb-nav-tabs>li>a {
    font-size: 18px;
}
.bct-section-label {
    border-bottom: 3px double #ccc; 
    padding: 5px 0; 
    font-size: 14px;  
}
.umb-panel.editor-breadcrumb .umb-panel-body {
    bottom:  31px !important;
}
.umb-panel.editor-breadcrumb .umb-bottom-bar {
    right: 20px;
    bottom: 31px !important;
}
.umb-tab-buttons {
    padding-left: 250px;
}
.form-horizontal .control-label {
    width: 220px;
}
@media (min-width: 1101px) {
    .umb-bottom-bar {
        left: 450px;
    }
}

ul.sections li.avatar a img {
    width:  64px;
    border-radius: 33px;
}