﻿<div class="umb-contentpicker umb-editor" ng-controller="RJP.MultiUrlPickerController">
  <ul class="unstyled list-icons" ui-sortable ng-model="renderModel">
    <li ng-repeat="node in renderModel">
      <i class="icon icon-navigation handle" ng-show="cfg.multiPicker === true"></i>
      <a href="#" prevent-default ng-click="remove($index)"><i class="icon-delete red"></i></a>
      <a href="#" prevent-default ng-click="edit($index)">
        <i class="icon icon-edit"></i>
        {{node.name}}
      </a>
    </li>
  </ul>

  <ul class="unstyled list-icons" ng-show="cfg.multiPicker === true || renderModel.length === 0">
    <li>
      <i class="icon icon-add blue"></i>
      <a href="#" ng-click="openLinkPicker()" prevent-default>
        <localize key="general_add">Add</localize>
      </a>
    </li>
  </ul>
</div>
