.layoutPicker {
    overflow: hidden;
    padding-left: 0 !important;
}
.layoutPicker h3 {
    width: 80%;
    float: left;
}
.layoutPicker .refresh {
    float: right;
    display: block;
}
.layoutPicker .layout {
    border-bottom: 1px dotted #efefef;
    overflow: hidden;
}
.layoutPicker img {
    display: block;
    width: 100px;
    margin: 0 10px 0 0;
    padding: 1px;
    border: 1px solid #eee;
    float: left;
}
.layoutPicker a.image {
    display: block;
    padding: 1%;
    text-decoration: none;
    overflow: hidden;
    margin: 1%;
}
.layoutPicker a.image:hover img {
    border: 1px solid #999;    
}

.layoutPicker .details .heading {
    font-size: 18px;
    font-weight: bold;
}
.layoutPicker .selected a {
    background: #e5e5e5;
}
.layoutPicker .buttons {
    float: left;
}
.layoutPicker .buttons a {
    margin-right: 10px;
}
.layoutPicker .buttons a i {
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}
.layoutPicker .buttons a i.green {
    color:  #53a93f;
}