﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
    <title>@Umbraco.Field("pageTitle", altFieldAlias: "pageName") [@Umbraco.Field("siteTitle", recursive: true)]</title>
    
    <script src="/scripts/responsive.ie10mobilefix.js"></script>
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/whiteboard.css" rel="stylesheet" />

    <!--[if lt IE 9 &!(IEMobile)]>
        <script src="/scripts/lib/html5shiv.min.js"></script>
        <script src="/scripts/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header role="banner">
		<div class="container">
			<div class="row">
				<h1>@Umbraco.Field("siteTitle", recursive: true) - AnotherTheme</h1>
			</div>
		</div>
	</header>
		
	<nav role="navigation">
		<div class="container">
			<div class="row">
				@Html.Partial("Navigation")
			</div>
		</div>		
	</nav>
		
	<main>
		<div class="container">
			<div class="row">
				@RenderSection("body")				
			</div>
		</div>		
	</main>
	
	<footer>
		<div class="container">
			<div class="row">
				Footer
			</div>
		</div>				
	</footer>
	
    <!--[if IE 8]>     
    <script src="/scripts/lib/jquery-1.11.0.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script src="/scripts/lib/jquery-2.1.0.min.js"></script>
    <!--<![endif]-->

    <script src="/scripts/responsive.js"></script>
</body>
</html>