<div data-ng-controller="BCT.ThemePicker.EditorController" class="umb-contentpicker" data-ng-cloak>
    <!--
    <image-dropdown items="themes" model="model"></image-dropdown>
    <hr/>
    -->

    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <label class="control-label themePicker" for="{{model.alias}}">
                {{model.label}}
                <small>{{model.description}}</small>
            </label>

            <div class="themePicker controls controls-row" data-ng-show="model.value != ''">

                <img src="#" data-ng-src="{{theme.image}}" alt="{{theme.name}}"/> 
                <div class="details">
                    <div class="heading">{{theme.name}}</div>
                    <div class="description">{{theme.description}}</div>
                    <div class="buttons">
                        <a href="#" data-prevent-default data-ng-click="openThemePicker()" title="Switch Theme"><i class="icon icon-repeat green"></i>Switch Theme</a>                
                        <a href="#" data-prevent-default data-ng-click="clearTheme()" title="Clear Theme"><i class="icon icon-delete red"></i>Clear Theme</a>
                    </div>
                </div>
            </div>
            <div class="themePicker controls controls-row" data-ng-show="model.value == ''">
                <div class="buttons">
	                <a href="#" data-ng-click="openThemePicker()" data-prevent-default><i class="icon icon-add blue"></i>Choose Theme</a>
                </div>
            </div>
        </div>
    </div>
</div>