body {
}

header[role="banner"] {
}

nav[role="navigation"] {
    margin: 10px 0;
    padding: 10px 0;
}
#navigation {
    line-height: 45px;
}

#navigation a {
    margin: 0 5px 0 0;
    padding: 10px 20px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

main {
    clear: both;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #000;
}

nav[role="complementary"] div {
    border: 1px solid #000;
    padding: 20px 10px;
    margin: -15px 0;
    background: #fff;
}

article div {
    padding: 0 10px;
}

aside div {
    border: 1px solid #000;
    padding: 20px 10px;
    margin: -15px 0;
    background: #fff;
}

footer {
    border-top: 1px solid #000;
    padding: 10px 0;
}